In [7]:
import pandas as pd
import os, glob, re

In [8]:
import plotly.express as px
import matplotlib.pyplot as plt   # 맷폴렛- 그래프
%matplotlib inline

# ignore warnings
import warnings    # 워닝 방지
warnings.filterwarnings('ignore')

####### matplotlib - 한글 폰트 깨짐 방지 코드 #######
import platform

if platform.system() == 'Darwin':    # 맥
    font_name = 'AppleGothic'
elif platform.system() == 'Linux':   # 리눅스
    font_name = 'NanumGothic'
elif platform.system() == 'Windows': # 윈도우
    font_name = 'Malgun Gothic'
else:
    print('알수없는 시스템. 미적용')

plt.rc('font', family=font_name)

In [9]:
os.getcwd() # 현재 디렉토리위치

'C:\\studyNote\\Project'

In [10]:
path = r'C:\data\\2017\\'
data_path = glob.glob(path+'*')
# 하나는 엑셀파일 하나는 csv 파일 -> 인것을 확인 
# 부산광역시_배수펌프장 및 유수지 현황_20200101_.xlsx >>> 이름 변경 -> 펌프장및유수지현황
# 부산시_배수시설_CSV.csv' >>> 이름 변경 -> 배수시설
data_path

['C:\\data\\\\2017\\2017_강서구_강수량.csv',
 'C:\\data\\\\2017\\2017_금정구_강수량.csv',
 'C:\\data\\\\2017\\2017_기장군_강수량.csv',
 'C:\\data\\\\2017\\2017_남구_강수량.csv',
 'C:\\data\\\\2017\\2017_동구_강수량.csv',
 'C:\\data\\\\2017\\2017_동래구_강수량.csv',
 'C:\\data\\\\2017\\2017_부산진구_강수량.csv',
 'C:\\data\\\\2017\\2017_북구_강수량.csv',
 'C:\\data\\\\2017\\2017_사상구_강수량.csv',
 'C:\\data\\\\2017\\2017_사하구_강수량.csv',
 'C:\\data\\\\2017\\2017_서구_강수량.csv',
 'C:\\data\\\\2017\\2017_수영구_강수량.csv',
 'C:\\data\\\\2017\\2017_연제구_강수량.csv',
 'C:\\data\\\\2017\\2017_영도구_강수량.csv',
 'C:\\data\\\\2017\\2017_중구_강수량.csv',
 'C:\\data\\\\2017\\2017_해운대구_강수량.csv']

In [11]:
df_rain = pd.read_csv(data_path[0], encoding='utf-8') 
df_test = df_rain.iloc[:,2:]
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가덕도동    8760 non-null   float64
 1   가락동     8760 non-null   float64
 2   강동동     8760 non-null   float64
 3   녹산동     8760 non-null   float64
 4   대저제1동   8760 non-null   float64
 5   대저제2동   8760 non-null   float64
 6   명지동     8760 non-null   float64
dtypes: float64(7)
memory usage: 479.8 KB

In [12]:
# 년도 이름 출력 
for i in data_path:
    sp = i.split('\\')[-1]
    y_name = i.split('\\')[-2]
    f_name = sp.split("_")[1]
    print(y_name,":",f_name)

2017 : 강서구
2017 : 금정구
2017 : 기장군
2017 : 남구
2017 : 동구
2017 : 동래구
2017 : 부산진구
2017 : 북구
2017 : 사상구
2017 : 사하구
2017 : 서구
2017 : 수영구
2017 : 연제구
2017 : 영도구
2017 : 중구
2017 : 해운대구

In [20]:
dic = {}
a =[]
b=[]
c=[]
d=[]
e=[]

# for col in df_test.columns:
#     print(col)
for i in df_test[col]:
    if 5<=i<20 :
        a.append(i)
#         dic['a'] = i
    elif 20<=i<40:
#         dic['b'] = i
        b.append(i)
    elif 40<=i<50:
#         dic['c'] = i
        c.append(i)
    elif 50<=i<80:
#         dic['d'] = i
        d.append(i)
    elif i>=80:
#         dic['e'] = i
        e.append(i)
break

가덕도동

In [21]:
len(a),len(b),len(c),len(d),len(e)

(25, 4, 0, 1, 0)

In [23]:
# for idx, val in enumerate(data_path):
#     # 데이터 로드
#     df_rain = pd.read_csv(data_path[idx], encoding='utf-8') # utf-8 에러 -> euc-kr 사용
    
#     # 파일 이름 만들기 
#     sp = val.split('\\')[-1]
#     y_name = val.split('\\')[-2]
#     f_name = sp.split("_")[1]
#     print('경로 >>>',idx, f_name, y_name)
#     df_test = df_rain.iloc[:,2:]
#     # 로드한 데이터   
#     for cnt in range(len(df_test.columns)):
# #         print('이름 :', df_test.columns[cnt])
#         tmp = list()
#         for i in df_test[df_test.columns[cnt]]:
#             tmp.append(test(i))

#         re_data[re_data.columns[cnt]] = tmp
#         print(re_data[re_data.columns[cnt]].value_counts())
#         tmp = list()
# #         print(check(re_data))
# #     break

#     # 저장 
#     pathName = 'C:\data\\'+f_name +'_'+ y_name+'.csv'

#     if pathName.split('.')[1] == 'csv' :
#         if not os.path.exists( pathName ):
#             re_data.to_csv( pathName , index = False, mode = 'w', sep=',', na_rep='NaN', encoding = 'utf-8-sig' )
#         else: 
#             re_data.to_csv( pathName , index = False, mode = 'a', sep=',', na_rep='NaN', encoding = 'utf-8-sig', header = False )

In [22]:
# for idx, val in enumerate(data_path):
#     df_rain = pd.read_csv(data_path[idx], encoding='utf-8') # utf-8 에러 -> euc-kr 사용
    
#     for i in val:
#         sp = i.split('\\')[-1]
#         f_name = sp.split("_")[1]
#         y_name = i.split('\\')[-2]
#     print('경로 >>>',idx, f_name, y_name)

#         tmp = list()
#         for cnt in range(len(df_test.columns)):
#             print('이름 :', df_test.columns[cnt])
            
#             for i in df_test[df_test.columns[cnt]]:
#                 tmp.append(test(i))

#             re_data[re_data.columns[cnt]] = tmp
#     #         print(re_data[re_data.columns[cnt]].value_counts())
#             tmp = list()
#     #         print(check(re_data))
#     #     break

#         # 저장 
#         pathName = 'C:\data\\'+f_name +'_'+ y_name+'.csv'

#         if pathName.split('.')[1] == 'csv' :
#             if not os.path.exists( pathName ):
#                 re_data.to_csv( pathName , index = False, mode = 'w', sep=',', na_rep='NaN', encoding = 'utf-8-sig' )
#             else: 
#                 re_data.to_csv( pathName , index = False, mode = 'a', sep=',', na_rep='NaN', encoding = 'utf-8-sig', header = False )

In [81]:
# def mkDir(pathName, fileName):
#     """
#     pathName = 'C:/data/'      # 경로
#     fileName = '이름'          # 이름 
#     Save Folder Name = pathName, dirname
#     """
# #     path = pathName + fileName
#     if not os.path.isdir(path):
#         os.makedirs(path)
#         targetDir = glob.glob(path)
#         print('Folder Created')
#     else:
#         targetDir = glob.glob(path)
#         print('Folder already exist')
        
#     return path  


# # 데이터 저장 
# def SaveFile( df, pathName , fileName,  Mode, index, encoding ):
#     """
#     df = 데이터 프레임
#     Mode = 만약 덮어쓰기가 있다면 a , 그냥 생성 w
#     fullDstName =  path + 파일 확장자(확장자 주의 요말)
#     index = False
#     encoding = 인코딩 
#     header -> 덮어쓰기에만 적용
#     # 2018, 2019, 2020
#     """
#     mkDir( pathName, fileName )
#     fullDstName = pathName + fileName
#     if fullDstName.split('.')[1] == 'csv' :
#         if Mode == 'a' : 
#             # 파일 여부 확인 후 생성 
#             if not os.path.exists( fullDstName ):
#                 df.to_csv( fullDstName , index = index, mode = 'w', encoding = encoding )
#             else: 
#                 df.to_csv( fullDstName , index = index, mode = 'a', encoding = encoding, header = False ) 
#         else:
#             df.to_csv( fullDstName , index = index, mode = 'w', encoding = encoding )

        
#     elif fullDstName.split('.')[1] == 'xlsx' :
#         if Mode == 'a' : 
#             # 파일 여부 확인 후 생성 
#             if not os.path.exists( fullDstName ):
#                 df.to_xlsx( fullDstName , index = index, mode = 'w', encoding = encoding )
#             else: 
#                 df.to_xlsx( fullDstName , index = index, mode = 'a', encoding = encoding, header = False )
#         else:
#             df.to_xlsx( fullDstName , index = index, mode = 'w', encoding = encoding )
#     else:
#         print('Please check your file path! Only, xlsx and csv can use')

In [35]:
df_rain = pd.read_csv(data_path[0], encoding='utf-8') # utf-8 에러 -> euc-kr 사용
df_rain

       일      시간  가덕도동  가락동  강동동  녹산동  대저제1동  대저제2동  명지동
0      1     0.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
1      1   100.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
2      1   200.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
3      1   300.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
4      1   400.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
...   ..     ...   ...  ...  ...  ...    ...    ...  ...
8767  31  2000.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
8768  31  2100.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
8769  31  2200.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
8770  31  2300.0   0.0  0.0  0.0  0.0    0.0    0.0  0.0
8771         NaN   NaN  NaN  NaN  NaN    NaN    NaN  NaN

[8772 rows x 9 columns]

In [37]:
df_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일       8772 non-null   object
 1   시간      8760 non-null   float64
 2   가덕도동    8760 non-null   float64
 3   가락동     8760 non-null   float64
 4   강동동     8760 non-null   float64
 5   녹산동     8760 non-null   float64
 6   대저제1동   8760 non-null   float64
 7   대저제2동   8760 non-null   float64
 8   명지동     8760 non-null   float64
dtypes: float64(8), object(1)
memory usage: 616.9+ KB

In [25]:
def test(x): # 값에 따른 함수 적용
    if 5<=x<20 :
        return 'a'
    elif 20<=x<40:
        return 'b'
    elif 40<=x<50:
        return 'c'
    elif 50<=x<80:
        return 'd'
    elif x>=80:
        return 'e'

In [7]:
df_rain.columns

Index(['일', '시간', '가덕도동', '가락동', '강동동', '녹산동', '대저제1동', '대저제2동', '명지동'], dtype='object')

In [47]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가덕도동    8760 non-null   float64
 1   가락동     8760 non-null   float64
 2   강동동     8760 non-null   float64
 3   녹산동     8760 non-null   float64
 4   대저제1동   8760 non-null   float64
 5   대저제2동   8760 non-null   float64
 6   명지동     8760 non-null   float64
dtypes: float64(7)
memory usage: 479.8 KB

In [46]:
df_test = df_rain.iloc[:,2:]

In [9]:
df_test[df_test.columns[0]]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8767    0.0
8768    0.0
8769    0.0
8770    0.0
8771    NaN
Name: 가덕도동, Length: 8772, dtype: float64

In [29]:
def test(x): # 값에 따른 함수 적용
    try :
        if 5<=x<20 :
            return 'a'
        elif 20<=x<40:
            return 'b'
        elif 40<=x<50:
            return 'c'
        elif 50<=x<80:
            return 'd'
        elif x>=80:
            return 'e'
        elif x < 4 :
            return ' '
    except Exception as err:
        print(err,'e')

In [48]:
tmp = list()
for cnt in range(len(df_test.columns)):
    print(df_test.columns[cnt])
    for i in df_test[df_test.columns[cnt]]:
#         print(i)
#         print(test(i))
        tmp.append(test(i))
    re_data[re_data.columns[cnt]] = tmp
    tmp = list()
    print(check(re_data))

가덕도동
a    25
b     4
d     1
Name: 가덕도동, dtype: int64
가락동
a    25
b     4
d     1
Name: 가덕도동, dtype: int64
강동동
a    25
b     4
d     1
Name: 가덕도동, dtype: int64
녹산동
a    25
b     4
d     1
Name: 가덕도동, dtype: int64
대저제1동
a    25
b     4
d     1
Name: 가덕도동, dtype: int64
대저제2동
a    25
b     4
d     1
Name: 가덕도동, dtype: int64
명지동
a    25
b     4
d     1
Name: 가덕도동, dtype: int64

In [105]:
def check(df):
    """
    데이터 확인 - 검증 
    """
    for cnt in range(len(df.columns)):
        print(df[df.columns[cnt]].value_counts())
        return '끝'

check(re_data)

a    25
b     4
d     1
Name: 가덕도동, dtype: int64

'끝'

In [ ]:
# # 검증 
# for cnt in range(len(re_data.columns)):
#      print(re_data[re_data.columns[cnt]].value_counts())

In [96]:
df_test.columns

Index(['가덕도동', '가락동', '강동동', '녹산동', '대저제1동', '대저제2동', '명지동'], dtype='object')

In [97]:
tmp = list()
for cnt in range(len(df_test.columns)):
    print(df_test.columns[cnt])
    for i in df_test['가덕도동']:
#         print(i)
#         print(test(i))
        tmp.append(test(i))

가덕도동
가락동
강동동
녹산동
대저제1동
대저제2동
명지동

In [98]:
len('tmp')

3

## 다시

In [102]:
name = ['17가덕도동grade', '17가락동grade', '17강동동grade', '17녹산동grade', '17대저제grade1동', '17대저제grade2동', '17명지동grade']
name

['17가덕도grade동',
 '17가락동grade',
 '17강동동grade',
 '17녹산동grade',
 '17대저제grade1동',
 '17대저제grade2동',
 '17명지동grade']

In [99]:
df_data = pd.DataFrame( columns = ('가덕도동', '가락동', '강동동', '녹산동', '대저제1동', '대저제2동', '명지동') )

In [101]:
17가덕도동grade	17가락동

     가덕도동  가락동  강동동  녹산동 대저제1동 대저제2동  명지동 17가덕도동grade 17가락동grade
0     NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
1     NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
2     NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
3     NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
4     NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
...   ...  ...  ...  ...   ...   ...  ...         ...        ...
8767  NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
8768  NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
8769  NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
8770  NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN
8771  NaN  NaN  NaN  NaN   NaN   NaN  NaN         NaN        NaN

[8772 rows x 9 columns]

In [100]:
df_data['17가덕도동grade']=df_test['가덕도동'].apply(test)
df_data['17가락동grade']=df_test['가락동'].apply(test)

In [26]:
df_test['가락동'].apply(test)

0       None
1       None
2       None
3       None
4       None
        ...
8767    None
8768    None
8769    None
8770    None
8771    None
Name: 가락동, Length: 8772, dtype: object