In [3]:
import pandas as pd
import os, glob, re

import plotly.express as px
import matplotlib.pyplot as plt   # 맷폴렛- 그래프
%matplotlib inline

# ignore warnings
import warnings    # 워닝 방지
warnings.filterwarnings('ignore')

####### matplotlib - 한글 폰트 깨짐 방지 코드 #######
import platform

if platform.system() == 'Darwin':    # 맥
    font_name = 'AppleGothic'
elif platform.system() == 'Linux':   # 리눅스
    font_name = 'NanumGothic'
elif platform.system() == 'Windows': # 윈도우
    font_name = 'Malgun Gothic'
else:
    print('알수없는 시스템. 미적용')

plt.rc('font', family=font_name)

In [4]:
os.getcwd() # 현재 디렉토리위치

'C:\\studyNote\\Project'

In [7]:
path = r'C:\data\\부산 해발고도\\'
data_path = glob.glob(path+'/*')
data_path

['C:\\data\\\\부산 해발고도\\강서구.csv',
 'C:\\data\\\\부산 해발고도\\금정구.csv',
 'C:\\data\\\\부산 해발고도\\기장군.csv',
 'C:\\data\\\\부산 해발고도\\남구.csv',
 'C:\\data\\\\부산 해발고도\\동구.csv',
 'C:\\data\\\\부산 해발고도\\동래구.csv',
 'C:\\data\\\\부산 해발고도\\부산진구.csv',
 'C:\\data\\\\부산 해발고도\\북구.csv',
 'C:\\data\\\\부산 해발고도\\사상구.csv',
 'C:\\data\\\\부산 해발고도\\사하구.csv',
 'C:\\data\\\\부산 해발고도\\서구.csv',
 'C:\\data\\\\부산 해발고도\\수영구.csv',
 'C:\\data\\\\부산 해발고도\\연제구.csv',
 'C:\\data\\\\부산 해발고도\\영도구.csv',
 'C:\\data\\\\부산 해발고도\\중구.csv',
 'C:\\data\\\\부산 해발고도\\해운대구.csv']

## 데이터 로드

In [10]:
df_level = pd.read_csv(data_path[0], encoding='utf-8') # euc-kr 에러 -> utf-8 사용
df_level.head()

          경도         위도   해발고도
0  360834.69  270532.46   3.89
1  360834.69  270442.46   7.82
2  360924.69  270532.46   3.89
3  360924.69  270442.46   7.91
4  361284.69  270172.46  62.52

In [11]:
data_path[0]

'C:\\data\\\\부산 해발고도\\강서구.csv'

In [20]:
for i in data_path:
    fst_split = i.split('\\')[-1]
    name_split = fst_split.split('.')[0]
    print(name_split)

강서구
금정구
기장군
남구
동구
동래구
부산진구
북구
사상구
사하구
서구
수영구
연제구
영도구
중구
해운대구

In [19]:
df_level.columns

Index(['경도', '위도', '해발고도'], dtype='object')

In [23]:
name_split

'해운대구'

In [25]:
re_col = {
    '경도'    : name_split +'_'+'경도',
    '위도'    : name_split +'_'+'위도',
    '해발고도': name_split +'_'+'해발고도',
}

re_col

{'경도': '해운대구_경도', '위도': '해운대구_위도', '해발고도': '해운대구_해발고도'}

In [ ]:
path = r'C:\data\\부산 해발고도\\'
data_path = glob.glob(path+'/*')
data_path

In [27]:
def each_Loction(path):
    """
    
    """
    data_path = glob.glob(path+'/*') # 데이터 불러오기 
    # 데이터 로드 
    for idx,i in enumerate(data_path):
        df_level = pd.read_csv(data_path[idx], encoding='utf-8') 
        fst_split = i.split('\\')[-1]
        name_split = fst_split.split('.')[0]
#         print(name_split)
        # 컬럼 재정의 
        re_col = {
                '경도'    : name_split +'_'+'경도',
                '위도'    : name_split +'_'+'위도',
                '해발고도': name_split +'_'+'해발고도' }
        # 컬럼명 변경하기 
        df = df_level.rename(change_name, axis='columns') 
        df_dra_notFull
    return name_split

each_Loction(path)

'해운대구'